body
{
  margin: 0 0 !important;
}

.tagCloud
{
  text-align: center !important;
}

.tagCloud li
{
  margin-right: 5px !important;

  /* http://p2b.jp/200912-tagcloud-with-word-break-and-white-space */
  white-space: nowrap;
  zoom: 1;
}

a img
{
  border: none;
}

#Button
{
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 100;
}

label
{
  margin-right: 15px;
}

#TagCloudSkinSelector
{
  filter: alpha(opacity=60);
  -ms-filter: "alpha(opacity=60)";
}

#AutoFollowIcon{
  margin-right: 15px;
}

#config
{
  display: none;
}

